body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
}

.form-container, .cari-container {
  margin-bottom: 20px;
}

label {
  margin-right: 5px;
}

input, select {
  margin-bottom: 10px;
}

button {
  padding: 8px;
  cursor: pointer;
}

.rak-buku {
  display: flex;
  justify-content: space-around;
}

.rak {
  
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#rak-selesai-dibaca{
  background-color: #4CB9E7;
  color: #f4f4f4;
}
#rak-selesai-dibaca button{
  background-color: maroon;
  color: #f4f4f4;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
